@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cordefundo: #040714;
$cortextoprincipal: silver;
$cortextosecundario: #f9f9f9;

body {
    background-color: $cordefundo;
}

@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: $cortextoprincipal;
}

@mixin title($fontsize: 28px) {
    @include text($fontsize);
    color: $cortextosecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: $cortextosecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}




